bald_training
coco
data_yaml
data_yaml_etri
disc_guidance_to_unlabeled
generative_active_learning
generative_active_learning_etri
geodiffusion
pseudo_label_yolo_format

soft_label_model

scripts_etri
scripts_2025neurips
scripts
runs

yolo11n.pt